@-webkit-keyframes first-step {
  from {
    margin-left: 0vw;
  }
  to {
    margin-left: -100vw;
  }
}

@keyframes first-step {
  from {
    margin-left: 0vw;
  }
  to {
    margin-left: -100vw;
  }
}

@-webkit-keyframes second-step {
  from {
    margin-left: 100vw;
  }
  to {
    margin-left: 0vw;
  }
}

@keyframes second-step {
  from {
    margin-left: 100vw;
  }
  to {
    margin-left: 0vw;
  }
}

.first-step-anim {
  -webkit-animation-name: first-step;
          animation-name: first-step;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.second-step-anim {
  -webkit-animation-name: second-step;
          animation-name: second-step;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}
