@keyframes first-step {
    from {margin-left: 0vw;}
    to {margin-left: -100vw;}
}

@keyframes second-step {
    from {margin-left: 100vw;}
    to {margin-left: 0vw;}
}

.first-step-anim {
    animation-name: first-step;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

.second-step-anim {
    animation-name: second-step;
    animation-timing-function: ease-out;
    animation-duration: .3s;
}