body {
    padding: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    // font-size: 5vh;
}

// button {
//     font-size: 5vh;
// }

h1,
h2,
h3 {
    text-align: center;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
}

main {
    height: 80vh;
    padding: 1em;
    background-color: lightgray;
}

// .slide-deck {
//     background-color: #a00;
// }

footer {
    // visibility: hidden;
    // height: auto;
    // width: 100%;
    margin-top: 2px;
    // text-align: center;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    font-size: 1.2em;
    vertical-align: middle;

    .left {
        img {
            display: inline-block;
        }
    }
}

.slide-controls {
    text-align: center;
    width: 33vh;
}

.nextslide, .transition {
    display: none;
}

// @media only screen and (max-width: 800px){
//     body {
//         font-size: 14px;
//     }
//     button {
//         font-size: 14px;
//     }
// }

@media only screen and (max-width: 1200px){
    body {
        font-size: 2vh;
    }
    button {
        font-size: 15px;
    }
}