body {
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  height: 80vh;
  padding: 1em;
  background-color: lightgray;
}

footer {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15vh;
  font-size: 1.2em;
  vertical-align: middle;
}

footer .left img {
  display: inline-block;
}

.slide-controls {
  text-align: center;
  width: 33vh;
}

.nextslide,
.transition {
  display: none;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 2vh;
  }
  button {
    font-size: 15px;
  }
}
